
html,body{
    height: 100%;
    width: 100%;
    min-height: 100%;
    margin:0;
    padding: 0;

}


html {
    max-height: 100%;
    font-size: 62.5%;//1rem=1em=10px 设置默认的字体
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}

body {
    font-family: $fontOSX $fontBase;
    font-size: 1.4rem;
    line-height: 1.6em;
    color: #3A4145;
    min-width: 320px; //最低宽度320px;

}

.home-template{
}


h1,h2,h3,h4,h5,h6{
    margin:0;
    padding:0;
}
h6{font-size:1.4rem}
h5{font-size:1.6rem}
h4{font-size:1.8rem}
h3{font-size:2.2rem;line-height:2.6rem}
h2{font-size:2.8rem;line-height:4.6rem;margin-bottom:.5rem;}
h1{font-size:3.2rem;line-height:3.8rem;margin-bottom:.5rem;}

*,
*:before,
*:after {
    -webkit-transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease, opacity 0.5s ease;
    -moz-transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease, opacity 0.5s ease;
    -ms-transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease, opacity 0.5s ease;
    -o-transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease, opacity 0.5s ease;
    transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease, opacity 0.5s ease;
}

a{
    text-decoration: none;
    &:hover{
    color:#60D9EF;
    transition: transform 0.5s ease;
    }
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    font-size: 0
}

.clearfix {
    zoom: 1;
}

.fixed-body-background{
    background-image:url(#{$imgPath}/bg2.jpg);
    position:fixed;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    background-size:cover;
    background-repeat: no-repeat;
    z-index: -2;

}
.top-bar{
    height: 5rem;
    background:url(#{$imgPath}/chalkboard.jpg) repeat;
}

.top-wrap{
    width: 70%;
    max-width: 76rem;
    margin:0 auto;
}
.nav-url{
    width: 40rem;
    float: left;
    height: 5rem;
    ul{
        margin:0;
        padding: 0;
    }
    li{
        list-style-type: none;
        display: inline-block;
        float: left;
        margin-right: 3rem;
        a{
            display: inline-block;
            color:#e3e3e3;
            height: 2.4rem;
            padding: 1.3rem 2rem;
            &:hover{
                background: rgba(255,255,255,.1);
            }
        }
    }

}



.search-bar{
    position:relative;
    height: 5rem;
    float: right;
}
.search-form-input{
    margin-top: 1rem;
    color:#fff;
    background: rgba(255,255,255,.2);
    height: 2rem;
    line-height: 2rem;
    padding: .5rem 2rem;
    border-radius: .3rem;
    border: none;
    box-shadow: none;
}

.search-bar-result{
visibility:hidden;
opacity:0;
position: absolute;
padding:.5rem 1rem;
top: 5.5rem;
border: 1px solid #fff;
box-shadow:0 0 2px #000;
left: 0;
width: 23rem;
background: #fff;
float: right;
z-index:100;
    h4{
        display: block;
        text-align: center;
        width: 100%;
        font-size: 1.8rem;
        height: 2.6rem;
        line-height: 2.4rem;
        border-bottom: 1px solid #e3e3e3;
        margin-bottom: .5rem;
    }

}

.quick-search{
    padding: .5rem 1rem;
}

.searchResult{
display: inline-block;
font-size: 1.4rem;
line-height: 1.4rem;
margin: .3rem 0;
color: #171717;
width: 100%;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
&:hover{
    color:#000;
}
}




.banner{
    position:relative;
    width: 100%;
    height: 32rem;
    background: transparent;
    //background: url(#{$imgPath}/home.jpg) no-repeat center;
    background-size:cover;
    box-shadow: 0 1px 1px #efefef;
    z-index: 1;
    //opacity: .5;
}
.banner-mask{
    position:absolute;
    width: 100%;
    height: 100%;
    left:0;
    top:0;
    background: #fff;
    background-image: linear-gradient(to bottom,(#FFFFFF),#EDEDED);
    //background-image: url(#{$imgPath}/banner-luo.png) ;
    background-repeat:repeat-x;
    opacity:.8;
    z-index: -2;
}

.site-head-content{
    width: 70%;
    margin:0 auto;
    padding-top:5rem;
}
.content{
    margin:0 auto;
}

.home-blog-title{
    color: rgba(17, 17, 17, 0.8);
    font-size: 4.4rem;
    font-weight: 900;
    line-height: 3.4rem;
    display: block;
    text-align: center;
    &:hover{
        color:rgba(17, 17, 17, 0.5);
        text-shadow: 0 1px 3px #fff;
    }
}

.blog-title{
text-align: center;
line-height: 3.2rem;
padding-top: 3rem;
color:#000;
}

.blog-logo{
    width: 16rem;
    display: block;
    margin:0 auto;
    text-align: center;
    img{
        margin-top: 3rem;
        width: 8.4rem;
        border-radius:50%;
        box-shadow: 0 0 3px #efefef;
    }
}

.blog-description{
    margin-top: 2rem;
    font-weight: 100;
    text-align: center;
    font-family: $googleFontExo $fontOSX;
    &:hover{
        text-shadow: 0 0 1px #000;
    }
}

.social-account{
    text-align: center;
    padding:0 2rem;
    ul{
        margin:0;
        padding: 0;
        li{
            list-style: none;
            display: inline-block;
            a{
                font-size:3.2rem;
                margin:0 .3rem;
            }
        }
    }
    .iconfont{
        font-size: 1.8rem;
        line-height: 1.8rem;
        color: rgba(17, 17, 17, 0.5);
    }
    .icon-feed{
        font-size:1.4rem;
        &:hover{
            color:#FF6600;
        }
    }
    .icon-weibo-pure:hover{ color:#E6162D}
    .icon-twitter-pure:hover{color:#2aa9e0}
    .icon-github-pure:hover{color:#333333}
    .icon-dribble-pure:hover{color:#F72D84}
    .icon-weixin-pure:hover{color:#75D140}
    .icon-instagram-pure:hover{color:#B66F43}
}


/* 顶部cover image相关 */

.post-cover-info{
    width: 75%;
    height: 20rem;
    text-align: center;
    color:rgba(255,255,255,0.5);
    color:#fff;
    position:absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin:auto;
}

/* 主页的文章标题 */
.post-title{
    width: 100%;
    line-height: 3.2rem;
    padding-top:1rem;
    text-align: center;
    font-family: $googleFontExo $fontOSX;
    //color:rgba(0,0,0,.8);
    a{
        color:rgba(0,0,0,.7);
        font-weight: 600;
        line-height:2.4rem;
        font-size: 2.4rem;
        letter-spacing: .2rem;
    }
}

.post-cover-info .post-title{
    color: #fff;
    font-family: $fontOSX;
    a{
        font-size:4rem;
        color:#fff;
        line-height:4.8rem;
        text-shadow: 0 1px 5px #d3d3d3;
        -webkit-transition: all .5s ease;
        transition: transform 0.5s ease;
        &:hover{
            text-shadow: 0 1px 5px #efefef;
        }
    }
}

.post-publish-time{
    text-transform:uppercase;
    font-family: $googleFontExo;
    -webkit-transition: all .5s ease;
    margin-top: 2rem;
    font-size: 2.4rem;
    &:hover{
        color:rgba(255,255,255,0.5);
        transition: transform 0.5s ease;
    }
}

/* tag标签 */
.post-tags{
    margin-top: 2rem;
a{
    color:#efefef;
    font-size: 1.4rem;
    line-height: 1.4rem;
    padding: .2rem .5rem;
    border-radius: 3px;
    background: rgba(0,0,0,0.2);
    &:hover{
        background: rgba(0,0,0,0.5);
    }
}
}



/* 导航栏 */
.pagination{
    color:#fff;
    margin:0 auto;
    margin-bottom: 3rem;
    width: 70%;
    font-family:$googleFontExo $fontOSX;
    a{
        border-radius: .3rem;
        display: inline-block;
        text-align: center;
        color:#fff;
        background: rgba(255,255,255,0.5);
        height: 2.4rem;
        line-height: 2.4rem;
        padding: .3rem .8rem;
        &:hover{
            color:#fff;
            background: rgba(0,0,0,.5);
        }
    }
}

.page-number{
display:inline-block;
padding:0 1rem;
}

.newer-posts{
//float: left;
}

.older-posts{
//float: right;
}



code[class*='language-'],pre[class*='language-'],code[class*='lang-'],pre[class*='lang-'] ,code {
    color: inherit;
    text-shadow: none;
}


:not(pre)>code[class*='language-'],code[class*='lang-'],pre[class*='language-'],pre[class*='lang-'],pre{
    background: rgba(234,239,242,0.25);
    border-left: 6px solid rgba(0,83,159,0.65);
    background-image: url(#{$imgPath}/blueprint-dark.png);
    background-position: top center;
    background-repeat: repeat;
}

.cover-wrap{
    position:relative;
    overflow: hidden;
}

.site-head{
position:relative;
width: 100%;
height:100%;
background: url(#{$imgPath}/main.jpg) no-repeat center center;
background-size: cover;
box-shadow: inset 0 -5px 10px rgba(0,0,0,.2);
margin-bottom: 1.5em;
}

.post-header-mask{
position:absolute;
top: 0;
left: 0;
right:0;
width: 100%;
height:100%;
background:#000;
opacity:.9;
}

.regual,.blurred{
    position:absolute;
    width: 100%;
    -webkit-transform: translate3d(0,0,0);
}

.regular{
opacity:1;
}
.blurred{
opacity:0;
}


.post-in-list{
    width: 64%;
    max-width: 76rem;
    position:relative;
    margin:5rem auto;
    background:#fff;
    //box-shadow:0 1px 3px rgba(255,255,255,.5);
    img{
        width: 100%;
        max-width: 100%;
        height: auto;
    }
    .post-title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    }
}

.post-image{
    p{
        line-height: 0;
    }
    img{
        position:relative;
         //-webkit-filter: brightness(100%);
        -webkit-transition: all 1s ease;
        transition: all 1s ease;
        &:hover{
            //-webkit-filter: grayscale(50%);
        }
    }
}

.post-meta{
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    font-family: $googleFontExo $fontOSX;
    .post-tags{
        margin-top: .5rem;
        a{
            color:#fff;
            padding: .2rem .5rem;
            background: rgba(0,0,0,.4);
            &:hover{
            color:#efefef;
            background: rgba(0,0,0,.2);
            }
        }
    }
}
.post-time,.post-tags{
    display:block;
    height: 2.6rem;
    line-height: 2.4rem;
}
.post-time{
    width: 100%;
    text-decoration: uppercase;
    font-size: 1.8rem;
    time{
        width: 14rem;
        letter-spacing: .2rem;
        margin: 0 auto;
        border-bottom: 1px dashed #e3e3e3;
    }
}
.post-tags{width: 100%}

.post-excerpt{
font-size: 1.8rem;
line-height: 3.2rem;
p{
    margin:0;
    padding: 0;
}
}

.hidden{
display:none;
}
.excerpt-word{
padding:3rem 2rem 1rem;
text-align:justify;
font-size:1.8rem;
line-height:2.6rem;
word-break: break-all;
word-break: break-word;
}

.single-post{
    width: 64%;
    max-width: 80rem;
    margin: 0 auto;
    font-size: 1.8rem;
    line-height: 2.8rem;
    //overflow: hidden;
    img{
        display: block;
        margin: 0 auto;
        max-width: 100%;
        height: auto;
        &:hover{
            box-shadow:inset 0 0 1px rgba(255,255,255,0.5)
        }
    }

    iframe,embed,video{
        max-width: 100%;
    }
    video{
        display: block;
        margin:0 auto;
    }
}

.single-post-inner{
    font-family: $googleFontExo $fontOSX;
    word-break: break-all;
    word-break: break-word;
    a{
        display: inline-block;
        line-height: 2.8rem;
        &:hover{
            opacity: .8;
        }
    }
    .iconfont{
        font-size: 1.6rem;
        vertical-align: top;
        margin-left: .1rem;
        margin-right: .1rem;
    }
    p{
        code{
            padding: .3rem .6rem;
            border-radius: .5rem;
            background: #f8f8f8;
            border:1px solid #ddd;
        }
    }
}

img.imgWrapOut{
    max-width: 200%;
}

.post-content a{
    color:#97A5C0;
    &:hover{

    }
}

.post-content p{
    color:#505255;
    margin-top: 2.2rem;
    text-align: left;
}

/* 首页每篇单独文章 */


.post-content blockquote{
font-size: 1.8rem;
width: 110%;
margin-left: -5%;
text-align:center;
font-style: italic;
color:#9A9A9A;
        p{
            text-align: center;
        }
        &:hover{
            color:#505255;
            text-shadow: 0 0 1px #fff;
        }
}

.site-footer{
    position:relative;
    background: #f9f9f9;
    text-align: center;
    color: #8e9798;
    margin: 0 auto;
    text-transform:uppercase;
    font-family:$googleFontExo ;
    height:20rem;
    margin-top: 5rem;
    box-shadow: 0px -4px 7px -7px #171717;
    a{
    color:#666665;
    }
    .inner{
        width: 100%;
        margin: 5rem auto;
    }
    &:before{
        position: absolute;
        content: "";
        background: #F9F9F9;
        top: -0.5rem;
        width: 2rem;
        height: 2rem;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        box-shadow: 0px -4px 7px -7px #171717;
    }
    &:after{
        position: absolute;
        content: "";
        background: #F9F9F9;
        width: 2.4rem;
        height: 2.4rem;
        top: 0;
    }
}

.feed-sub{
    visibility: hidden;
    position:relative;
    width: 10rem;
    margin:0 auto;
}

.icon-feed{
    //font-size: 2.6rem;
}

.tooltip{
display:none;
position:absolute;
width: 3rem;
height: 3rem;
display: block;
margin: 0 auto;

}

/* 导航栏 */
.pagination{
text-align:center;
}

/* 返回顶部样式 */

#to-top {
  width: 48px;
  height: 48px;
  text-align: left;
  text-indent: -9999px;
  background: transparent url(#{$imgPath}/to-top.png) no-repeat;
  overflow: hidden;
  position: fixed;
  right: 20px;
  bottom: 20px;
  -khtml-opacity: .5;
  -moz-opacity: .5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  opacity: .5;
  z-index: 1000;
}
#to-top:hover {
  -khtml-opacity: .2;
  -moz-opacity: .2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
  opacity: .2;
}




.img_sina_share {
display: none;
position: absolute;
cursor: pointer;
}


.author{
border-top: 1px solid #e5e5e5;
border-bottom: 1px solid #e5e5e5;
clear: both;
font-size: 1.4rem;
padding: 1rem;
margin-top: 3rem;
}

.post-author-avatar{
float: left;
margin: 24px 40px 20px 0;
overflow: hidden;
}

.post-author-avatar img{
    width: 80px;
    border-radius:50%;
}

/* 封面按钮 */

.cover-slide-more{
position: absolute;
bottom: 4rem;
left: 48%;
    h4{
        display: none;
        font-size: 2.4rem;
        font-weight: 300;
        margin-top: .5rem;
        margin-left: -3.8rem;
        letter-spacing: .3rem;
        color: rgba(255,255,255,.95);
    &:hover{
        text-shadow: 0 0 1px rgba(0,0,0,0.5);
    }
    }
    &.hoverLight{
    }
}

.story-cover-arrow{
content: '';
display: block;
width: 2.4rem;
height: 2.4rem;
border: 0.4rem solid rgba(255,255,255,0.5);
background: rgba(0,0,0,0);
border-left: 0;
border-top: 0;
outline: 0;
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
cursor: pointer;
    &:hover{
        // border: 3px solid rgba(255,255,255,0.65);
        // border-left: 0;
        // border-top: 0;
    }


}



/* iconfont相关 */
.share{
    text-align: center;
    width: 100%;
    margin:0 auto;
    border-top:1px dashed #e5e5e5;
    h4{
        letter-spacing: .5rem;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
}

.share a{
    display: block;
    float: left;
    font-size: 2rem;
    line-height: 2.5rem;
    margin:0 1rem 0 0;
    height: 2.5rem;
    i{
        font-size: 3rem;
    }
}

.share-icons{
    text-align: center;
    width: 20rem;
    height: 3rem;
    margin:0 auto;
}



#imgSinaShare{
    display: none;
}


