/**
 * Sass 相关变量
 */

$imgPath:"../../assets/images";
$fontPath:"../../assets/fonts";
//设置字体
$fontBase:"Helvetica Neue",\5FAE\8F6F\96C5\9ED1,Tohoma;
$fontOSX:"ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Hiragino Sans GB","Hiragino Sans GB W3";
$fontIOS:"HelveticaNeue-UltraLight","Helvetica Neue UltraLight";

$googleFontExo:"Exo";
