.post-in-list{
    width: 95%;
}
.post-cover-info{
    font-size: 3rem;
    width: 80%;
    .post-title{
        line-height:3rem;
        a{
            font-size: 3rem;
        }
    }
}

.post-publish-time{
    font-size:1.4rem;
}
