.single-post{
    width: 80%;
}

.post-cover-info{
    font-size: 3rem;
    width: 80%;
    .post-title{
        line-height:3rem;
        a{
            font-size: 3rem;
        }
    }
}


.nav-url{
    width: 100%;
    li{
        margin-right: 1rem;
    }
}

.post-in-list{
    width: 95%;
}

.search-bar{
    display: none;
}
