.post-in-list{
    width: 95%;
    margin:2rem auto;
}
.search-bar{
    display: none;
}
.post-cover-info{

    .post-title{
        a{
            font-size: 2.2rem;
            line-height: 2.8rem;
        }

    }
}
